---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>
	<div class="w-full flex items-center justify-center">
		<img src="/about.gif" alt="some gif from giphy" />
	</div>

	<h1 class="mt-8 text-lg text-gray-800 dark:text-near-white">
		Hi, I'm Alok. A 19-year-old CS student from India. I code (sometimes?)
		bots, apps and websites usually.  Space, computers & cars are exciting
		to me the most. <br /><br /> I love pets (cats/dogs &lt;3) and like watching
		anime sometimes.
	</h1>
</MainLayout>
