---
import HeaderLink from "./HeaderLink.astro"
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts"
import Icon from "./Icon.astro"
import { SOCIAL_HANDLES } from "../consts"
import ThemeSwitcher from "./ThemeSwitcher"
---

<header class="my-12">
	<nav class="flex justify-between">
		<div>
			<h2 class="font-bold text-4xl"><a href="/">{SITE_TITLE}</a></h2>
			<p class="text-lg text-gray-700 italic">{SITE_DESCRIPTION}</p>
			<div class="internal-links gap-4 flex mt-3">
				<HeaderLink href="/">home</HeaderLink>
				<HeaderLink href="/snippets">snippets</HeaderLink>
				<HeaderLink href="/misc">misc</HeaderLink>
				<HeaderLink href="/about">about</HeaderLink>
				<HeaderLink
					href="https://blog.realogs.in"
					class="!flex items-center"
					>realogs
					<Icon name="external_link" />
				</HeaderLink>
			</div>
		</div>
		<div class="flex items-center justify-center align-middle">
			<ThemeSwitcher client:load />
		</div>
	</nav>
	<hr class="w-full mt-6" />
</header>
