---
import HeaderLink from "./HeaderLink.astro"
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts"
import Icon from "./Icon.astro"
import ThemeSwitcher from "./ThemeSwitcher"
---

<header class="mt-12 mb-8">
	<nav class="flex flex-col" id="nav">
		<div class="flex justify-between">
			<div></div>
			<div>
				<h2
					class="font-bold text-4xl text-center dark:text-white font-instrumentSans"
				>
					<a href="/">{SITE_TITLE}</a>
				</h2>
				<p class="text-lg text-gray-700 dark:text-gray-500 text-center">
					{SITE_DESCRIPTION}
				</p>
				<div>
					<div
						class="internal-links gap-4 flex mt-3 dark:text-medium-gray flex-wrap items-center justify-center"
					>
						<HeaderLink href="/">Home</HeaderLink>
						<HeaderLink href="/diary">Diary</HeaderLink>
						<HeaderLink href="/about">About</HeaderLink>
					</div>
				</div>
			</div>

			<div
				class="flex items-center justify-center align-middle gap-2 flex-wrap self-center transition-all duration-300 ease-in-out opacity-0"
				id="controls"
			>
				<!-- <div
					class="hover:cursor-pointer p-1.5 hover:bg-gray-200 hover:dark:bg-gray-900 rounded-lg inline-flex text-2xl"
				>
					<a href="https://github.com/alok8bb" target="_blank">
						<Icon
							name="socials/github"
							class="text-black dark:text-gray-300"
						/>
					</a>
				</div> -->
				<ThemeSwitcher client:load />
			</div>
		</div>
	</nav>
</header>

<script>
	document.getElementById("nav")?.addEventListener("mouseenter", () => {
		document.getElementById("controls")?.classList.remove("opacity-0")
	})

	document.getElementById("nav")?.addEventListener("mouseleave", () => {
		document.getElementById("controls")?.classList.add("opacity-0")
	})
</script>
