---
import { getCollection } from "astro:content"
import FormattedDate from "../components/FormattedDate.astro"
import MainLayout from "./MainLayout.astro"

const { category } = Astro.props

const posts = (await getCollection("blog")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)
---

<MainLayout>
	<section>
		<ul class="flex gap-10 flex-col">
			{
				posts
					.filter((post) => post.data.category === category)
					.map((post) => (
						<li>
							<a href={`/blog/${post.slug}/`}>
								<p class="date text-sm text-gray-700">
									<FormattedDate date={post.data.pubDate} />
								</p>
								<h4 class="title text-2xl font-bold hover:underline w-full">
									{post.data.title}
								</h4>
								<p class="line-clamp-2 text-lg text-gray-700">
									{post.data.description}
								</p>
							</a>
						</li>
					))
			}
		</ul>
	</section>
</MainLayout>
