---
import type { CollectionEntry } from "astro:content"
import FormattedDate from "../components/FormattedDate.astro"
import MainLayout from "./MainLayout.astro"

type Props = CollectionEntry<"blog">["data"]

const { title, pubDate, updatedDate, heroImage } = Astro.props
---

<MainLayout>
	<article>
		<div
			class="prose prose-margin-fix prose-h1:text-2xl prose-dark-fix max-w-full"
		>
			<div class="title">
				<h1 class="text-4xl font-bold">
					{title}
				</h1>
				<div class="date dark:text-gray-300">
					<FormattedDate date={pubDate} />
					{
						// updatedDate && (
						// <div class="last-updated-on">
						// 	Last updated on{" "}
						// 	<FormattedDate date={updatedDate} />
						// </div>
						// )
					}
				</div>
				<div class="hero-image">
					{heroImage && <img src={heroImage} alt="" class="m-auto" />}
				</div>
			</div>
			<div class="mt-5">
				<slot />
			</div>
		</div>
	</article>
</MainLayout>
