---
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import "@fontsource/geist-sans"
import "@fontsource/geist-mono"
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts"
import ThemeHeadScript from "../components/ThemeHeadScript.astro"

const currentUrl = Astro.request.url
---

<!doctype html>
<html lang="en">
	<head>
		<meta property="og:image" content=`${currentUrl}/og-image.png` />
		<meta property="twitter:image" content=`${currentUrl}/og-image.png` />
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<ThemeHeadScript />
	</head>
	<body class="max-w-[82ch] px-4 m-auto dark:bg-[#09090b]">
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
		<script>
			import { initThemeStoreSubscribe } from "../libs/theme/store"

			initThemeStoreSubscribe()
		</script>
	</body>
</html>
